<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>NASDAQ CHARTS</title>
</head>
<body>

<div class="container mx-auto px-4">
    <form id="scripSearch">
        <input type="text" placeholder="scrip" id="scrip">
        <button class="rounded bg-indigo-500 p-2 color-white">Submit</button>
    </form>
    <canvas id="myChart" width="400" height="400"></canvas>
</div>

</body>
</html>
